.float-left {
    float: left;
  }
  
  .float-right {
    float: right;
  }

  .book-cover-img {
    width: 320px;
    height: 400px;
    object-fit: contain; /* <--- Change from 'cover' to 'contain' */
    display: block;
    margin: 0 auto;
}